{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <h1>Header</h1>
            <p>My super cool header</p>
        </div>
            <div class="container">
                <div class="sidebar">
                    {% main_menu %}
            </div>
            <div class="content">
                <p>Lorem Ipsum</p>
            </div>
        </div>
        <div class="footer">
            <p>Hi im FOOTER</p>
        </div>

    </body>
</html>