{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link type="text/css" href="{% static 'blog/css/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <table class="table-page">
            <tr>
                <td>
                    {% block mainmenu %}
                        <div>
                            <p>1</p>
                            <p>2</p>
                            <p>3</p>
                        </div>
                    {% endblock %}
                </td>
            </tr>
        </table>
    </body>
</html>